::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 226, 226, 0.849);
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background: #888;
  border-radius: 10px;
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home::after {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgb(85, 86, 86) 0%,
    rgba(72, 71, 70, 0) 100%
  );
  z-index: 99;
}
.home .beforeLoginImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home .beforeLoginImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  filter: brightness(70%);
}
.home nav {
  height: 10%;
  width: 99%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 1;
}
.home nav img {
  height: 70%;
  width: 3.5%;
  object-fit: cover;
  /* object-position: center; */
  transform: scaleX(-1);
  border-radius: 50%;
}
.home nav .multiple_links {
  height: 92%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.home nav .multiple_links p {
  /* width: 110px; */
  text-wrap: nowrap;
  font-size: 16px;
  color: white;
  transition: all 0.5s ease;
  font-family: monospace;
}
.home nav .multiple_links p:hover {
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid yellow;
  padding: 5px 0px;
  box-shadow: rgba(111, 111, 100, 0.4) 0px 7px 29px 0px;
}
.home nav .buttons_for_login {
  height: 92%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.home nav .buttons_for_login button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #424244;
  font-size: 16px;
  border-radius: 20px;
  color: rgb(218, 210, 210);
  font-family: monospace;
}
.home nav .buttons_for_login button:hover {
  cursor: pointer;
}
.home main {
  height: 90%;
  width: 99%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.home main .main_content {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.home main .main_content .text_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
}
.home main .main_content .text_content p {
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
}
.home main .main_content .text_content h1 {
  text-align: center;
  width: 700px;
  font-size: 50px;
  font-weight: 600;
}
.home main .main_content button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 10px;
  background-color: yellowgreen;
  color: rgb(20, 20, 20);
  font-size: 15px;
}
.home main .main_content button:hover {
  cursor: pointer;
}
.home main .main_content button:hover img {
  rotate: 0deg;
}
.home main .main_content button p {
  font-size: 20px;
  font-family: monospace;
}
.home main .main_content button img {
  height: 20px;
  transition: all 0.3s ease;
  rotate: -45deg;
}

/* for popup menu */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
}

/* Pop-Up Container */
.popup {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 380px;
  max-width: 550px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* Close Button */
.close-popup {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.close-popup img {
  height: 100%;
  width: 100%;
}

/* Options */
.options-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.option {
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 220px;
  width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.option p {
  font-size: 15px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.option input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.option:hover {
  background: #e0e0e0;
}

/* Next Button */
.next-button {
  background: #565050;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.next-button:hover {
  background: #726e6e;
}

.business {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  background-color: #595a5b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-direction: column;
}
.business::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(85, 86, 86) 0%,
    rgba(72, 71, 70, 0) 100%
  );
  z-index: 99;
}
/* .business::after {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgb(86, 86, 85) 0%,
    rgba(253, 187, 45, 0) 100%
  );
  z-index: 99;
} */

.business h1 {
  font-size: 3rem;
  font-family: monospace;
  color: white;
}
.business .services_content {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}
.business .services_content .left_container {
  height: 100%;
  width: 450px;
  padding: 10px 30px;
  border: 10px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #919191;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.business .services_content .left_container img {
  height: 40px;
  width: 40px;
}

.business .services_content .left_container .data_container {
  height: 40%;
  width: 70%;
  align-self: center;
  background-color: #daa3f8;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.business .services_content .left_container .data_container .data_content {
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: flex-start;
}

.business .services_content .left_container .data_container .data_content p {
  font-size: 12px;
  font-weight: 600;
}

.business .services_content .left_container .data_container .data_content p,
h1 {
  transition: all 0.2s ease;
}
.business .services_content .left_container .data_container img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.business .services_content .center_container {
  height: 100%;
  width: 450px;
  background-color: #373737;
  border: 10px solid white;
  border-radius: 20px;
  position: relative;
}
.business .services_content .center_container .message_container {
  height: 45px;
  width: 80px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  left: -5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.business .services_content .center_container .message_container::before {
  content: "";
  height: 15px;
  width: 10px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  bottom: -50%;
  left: 50%;
  position: absolute;
  background-color: white;
  border: 4px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.business .services_content .center_container h1 {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9;
  text-align: center;
  font-size: 30px;
  width: 90%;
  color: #ffffff;
  text-shadow: -2px 1px 4px rgb(67, 67, 67);
}
.business .services_content .center_container:hover .message_container {
  animation: scaleEffect 0.6s ease-in-out forwards;
}
@keyframes scaleEffect {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.business .services_content .center_container .main_image {
  position: absolute;
  height: 420px;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition: all 0.8s ease;
}
.business .services_content .center_container .heart_image {
  position: absolute;
  height: 60px;
  top: 21%;
  left: 74%;
  transform: translate(130%, -50%);
  object-fit: cover;
  background-color: #fff;
  border-radius: 50%;
  rotate: 30deg;
  padding: 5px;
  transition: all 0.8s ease;
}

.business .services_content .right_container {
  height: 100%;
  width: 450px;
  background-color: #d8d8ff;
  border-radius: 20px;
  border: 10px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #595a5b;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.showcase_title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.stat_item {
  width: 180px;
  background: #373737;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.stat_item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.stat_item img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.stat_item h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #69b7b5;
}
.stat_item p {
  font-size: 1.1rem;
  color: #f3f3f3;
}

/* Service section */
.services {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #595a5b;
  text-align: center;
}
/* .services::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(86, 86, 85) 0%,
    rgba(253, 187, 45, 0) 100%
  );
  z-index: 99;
} */
/* .services::after {
  content: "";
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgb(89, 90, 91) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 99;
} */
.services .section-title {
  font-size: 3rem;
  color: #fff;
}
.services .services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.services .services-container .service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 300px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.services .services-container .service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.services
  .services-container
  .service-card:hover
  .services_image_container
  img {
  scale: 1.1;
}
.services .services-container .service-card .services_image_container {
  height: 150px;
  width: 150px;
  padding: 20px;
}
.services
  .services-container
  .service-card
  .services_image_container
  .service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.services .services-container .service-card .service-title {
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  font-weight: 600;
}

.services .services-container .service-card .service-description {
  font-size: 1rem;
  color: #555;
  padding: 0 1rem 1rem;
  font-weight: 550;
}

/* packages container  */

.packages {
  height: fit-content;
  width: 100%;
  background-color: rgb(89, 90, 91);
  position: relative;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.packages::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(89, 90, 91) 0%,
    rgba(249, 177, 21, 0) 100%
  );
  z-index: 99;
}

.package-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.packages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.package-card {
  width: 600px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.package-card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.package_image_container {
  height: 100%;
  width: 50%;
}
.package_image_container .package-img {
  width: 100%;
  border-radius: 10px;
}
.package-title {
  font-size: 30px;
  color: #333;
  color: white;
}
.package-price {
  font-size: 1.5rem;
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 1rem;
}
.package-features {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.package-features li {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}

.testimonial {
  height: 100vh;
  width: 100%;
  background-color: #efefef;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s;
  opacity: 1;
  z-index: 99;
  background-color: transparent;
  background-color: #333;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.back-to-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.back-to-top:hover {
  background-color: #807d7d;
}

.back-to-top:focus {
  outline: none;
}
