@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

.beforeLoginOuter_container ::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 226, 226, 0.849);
}
.beforeLoginOuter_container ::-webkit-scrollbar-thumb {
  width: 10px;
  background: #888;
  border-radius: 10px;
}

.beforeLoginOuter_container {
  width: 100%;
  overflow: hidden;
  height: fit-content;
}
.beforeLoginOuter_container .home {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.beforeLoginOuter_container .home::after {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgb(85, 86, 86) 0%,
    rgba(72, 71, 70, 0) 100%
  );
  z-index: 99;
}
.beforeLoginOuter_container .home .beforeLoginImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.beforeLoginOuter_container .home .beforeLoginImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  filter: brightness(70%);
}
.beforeLoginOuter_container .home nav {
  height: 10%;
  width: 99%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 1;
}
.beforeLoginOuter_container .home nav img {
  height: 70%;
  width: 3.5%;
  object-fit: cover;
  /* object-position: center; */
  transform: scaleX(-1);
  border-radius: 50%;
}
.beforeLoginOuter_container .home nav .multiple_links {
  height: 92%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.beforeLoginOuter_container .home nav .multiple_links p {
  /* width: 110px; */
  text-wrap: nowrap;
  font-size: 16px;
  color: white;
  transition: all 0.5s ease;
  font-family: monospace;
}
.beforeLoginOuter_container .home nav .multiple_links p:hover {
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid yellow;
  padding: 5px 0px;
  box-shadow: rgba(111, 111, 100, 0.4) 0px 7px 29px 0px;
}
.beforeLoginOuter_container .home nav .buttons_for_login {
  height: 92%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.beforeLoginOuter_container .home nav .buttons_for_login button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #424244;
  font-size: 16px;
  border-radius: 20px;
  color: rgb(218, 210, 210);
  font-family: monospace;
}
.beforeLoginOuter_container .home nav .buttons_for_login button:hover {
  cursor: pointer;
}
.beforeLoginOuter_container .home main {
  height: 90%;
  width: 99%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.beforeLoginOuter_container .home main .main_content {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.beforeLoginOuter_container .home main .main_content .text_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
}
.beforeLoginOuter_container .home main .main_content .text_content p {
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
}
.beforeLoginOuter_container .home main .main_content .text_content h1 {
  text-align: center;
  width: 700px;
  font-size: 50px;
  font-weight: 600;
}
.beforeLoginOuter_container .home main .main_content button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 10px;
  background-color: yellowgreen;
  color: rgb(20, 20, 20);
  font-size: 15px;
}
.beforeLoginOuter_container .home main .main_content button:hover {
  cursor: pointer;
}
.beforeLoginOuter_container .home main .main_content button:hover img {
  rotate: 0deg;
}
.beforeLoginOuter_container .home main .main_content button p {
  font-size: 20px;
  font-family: monospace;
}
.beforeLoginOuter_container .home main .main_content button img {
  height: 20px;
  transition: all 0.3s ease;
  rotate: -45deg;
}

/* for popup menu */
.beforeLoginOuter_container .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
}

/* Pop-Up Container */
.beforeLoginOuter_container .popup {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 380px;
  max-width: 550px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* Close Button */
.beforeLoginOuter_container .close-popup {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.beforeLoginOuter_container .close-popup img {
  height: 100%;
  width: 100%;
}

/* Options */
.beforeLoginOuter_container .options-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.beforeLoginOuter_container .options-container .option {
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 220px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.beforeLoginOuter_container .options-container .option p {
  font-size: 15px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.beforeLoginOuter_container .options-container .option img {
  height: 170px;
  width: 170px;
}
.beforeLoginOuter_container .options-container .option input[type="radio"] {
  accent-color: green;
  width: 20px;
  height: 20px;
  align-items: start;
}

.beforeLoginOuter_container .options-container .option:hover {
  background: #e0e0e0;
}

/* Next Button */
.beforeLoginOuter_container .next-button {
  background: #565050;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.beforeLoginOuter_container .popup-overlay .popup .next-button:hover {
  background: #726e6e;
}

.beforeLoginOuter_container .business {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  background-color: #595a5b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-direction: column;
}
.beforeLoginOuter_container .business::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(85, 86, 86) 0%,
    rgba(72, 71, 70, 0) 100%
  );
  z-index: 99;
}

.beforeLoginOuter_container .business h1 {
  font-size: 3rem;
  font-family: "Sour Gummy", serif;
  color: white;
}
.beforeLoginOuter_container .business .services_content {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}
.beforeLoginOuter_container .business .services_content .left_container {
  height: 100%;
  width: 450px;
  padding: 10px 30px;
  border: 10px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #919191;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.beforeLoginOuter_container .business .services_content .left_container img {
  height: 40px;
  width: 40px;
}
.beforeLoginOuter_container .business .services_content .left_container h1 {
  font-size: 35px;
}

.beforeLoginOuter_container
  .business
  .services_content
  .left_container
  .data_container {
  height: 40%;
  width: 70%;
  align-self: center;
  background-color: #daa3f8;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.beforeLoginOuter_container
  .business
  .services_content
  .left_container
  .data_container
  .data_content {
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: flex-start;
}

.beforeLoginOuter_container
  .business
  .services_content
  .left_container
  .data_container
  .data_content
  h1 {
  font-size: 22px;
}
.beforeLoginOuter_container
  .business
  .services_content
  .left_container
  .data_container
  .data_content
  p {
  font-size: 12px;
  font-weight: 600;
}

.beforeLoginOuter_container
  .business
  .services_content
  .left_container
  .data_container
  img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.beforeLoginOuter_container .business .services_content .center_container {
  height: 100%;
  width: 450px;
  background-color: #373737;
  border: 10px solid white;
  border-radius: 20px;
  position: relative;
}
.beforeLoginOuter_container
  .business
  .services_content
  .center_container
  .message_container {
  height: 45px;
  width: 80px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  left: -5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.beforeLoginOuter_container
  .business
  .services_content
  .center_container
  .message_container::before {
  content: "";
  height: 15px;
  width: 10px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  bottom: -50%;
  left: 50%;
  position: absolute;
  background-color: white;
  border: 4px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.beforeLoginOuter_container .business .services_content .center_container h1 {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9;
  text-align: center;
  font-size: 30px;
  width: 90%;
  color: #ffffff;
  text-shadow: -2px 1px 4px rgb(67, 67, 67);
}
.beforeLoginOuter_container
  .business
  .services_content
  .center_container:hover
  .message_container {
  animation: scaleEffect 0.6s ease-in-out forwards;
}
@keyframes scaleEffect {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.beforeLoginOuter_container
  .business
  .services_content
  .center_container
  .main_image {
  position: absolute;
  height: 420px;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition: all 0.8s ease;
}
.beforeLoginOuter_container
  .business
  .services_content
  .center_container
  .heart_image {
  position: absolute;
  height: 60px;
  top: 21%;
  left: 74%;
  transform: translate(130%, -50%);
  object-fit: cover;
  background-color: #fff;
  border-radius: 50%;
  rotate: 30deg;
  padding: 5px;
  transition: all 0.8s ease;
}

.beforeLoginOuter_container .business .services_content .right_container {
  height: 100%;
  width: 450px;
  background-color: #d8d8ff;
  border-radius: 20px;
  border: 10px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #595a5b;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .showcase_title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .stats_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .stats_flex
  .stat_item {
  width: 180px;
  background: #373737;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .stats_flex
  .stat_item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .stats_flex
  .stat_item
  img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .stats_flex
  .stat_item
  h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #69b7b5;
}
.beforeLoginOuter_container
  .business
  .services_content
  .right_container
  .stats_flex
  .stat_item
  p {
  font-size: 1.1rem;
  color: #f3f3f3;
}

/* Service section */
.beforeLoginOuter_container .services {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #595a5b;
  text-align: center;
}

.beforeLoginOuter_container .services .section-title {
  font-size: 3rem;
  color: #fff;
  font-family: "Sour Gummy", serif;
}
.beforeLoginOuter_container .services .services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.beforeLoginOuter_container .services .services-container .service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  height: 300px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.beforeLoginOuter_container .services .services-container .service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.services
  .services-container
  .service-card:hover
  .services_image_container
  .beforeLoginOuter_container
  img {
  scale: 1.1;
}
.beforeLoginOuter_container
  .services
  .services-container
  .service-card
  .services_image_container {
  height: 150px;
  width: 150px;
  padding: 20px;
}
.beforeLoginOuter_container
  .services
  .services-container
  .service-card
  .services_image_container
  .service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.beforeLoginOuter_container
  .services
  .services-container
  .service-card
  .service-title {
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  font-weight: 600;
  font-family: monospace;
}

.beforeLoginOuter_container
  .services
  .services-container
  .service-card
  .service-description {
  font-size: 1rem;
  color: #555;
  padding: 0 1rem 1rem;
  font-weight: 550;
}

/* packages container  */

.beforeLoginOuter_container .packages {
  height: fit-content;
  width: 100%;
  background-color: rgb(89, 90, 91);
  position: relative;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.beforeLoginOuter_container .packages::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(89, 90, 91) 0%,
    rgba(249, 177, 21, 0) 100%
  );
  z-index: 99;
}

.beforeLoginOuter_container .packages .package-title {
  font-size: 2.5rem;
  color: white;
  font-family: "Sour Gummy", serif;
}

.beforeLoginOuter_container .packages .packages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.beforeLoginOuter_container .packages .packages-container .package-card {
  width: 900px;
  height: 340px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(255, 254, 254, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.beforeLoginOuter_container
  .packages
  .packages-container
  .package-card
  .package_image_container {
  height: 90%;
  width: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.beforeLoginOuter_container .package-slider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Package Image inside the slider */
.beforeLoginOuter_container .package-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Pagination Styling */
.swiper-pagination {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%s);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #ddd;
  opacity: 1;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: yellowgreen; /* Active dot color */
}

.beforeLoginOuter_container .swiper-pagination-bullet:hover {
  background-color: #888; /* Hover effect */
}

.beforeLoginOuter_container
  .packages
  .packages-container
  .package-card
  .package_image_container
  .package_speciality {
  height: 30px;
  /* width: 90px; */
  width: fit-content;
  position: absolute;
  top: 20px;
  right: -18px;
  background-color: rgba(4, 4, 3, 0.495);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-content: center;
  font-size: 15px;
  padding: 0px 5px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 99;
  color: white;
}

.beforeLoginOuter_container
  .packages
  .packages-container
  .package-card
  .package_image_container
  .package-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.beforeLoginOuter_container .package_data_container {
  height: 90%;
  width: 40%;
  padding: 10px;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.beforeLoginOuter_container .package_data_container .profile_container {
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.beforeLoginOuter_container .package_data_container .profile_container img {
  width: 60px;
  border-radius: 50%;
}
.beforeLoginOuter_container
  .package_data_container
  .profile_container
  .profile_name_location
  h1 {
  font-size: 3em;
}

.beforeLoginOuter_container .package_data_container .description_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.beforeLoginOuter_container
  .package_data_container
  .description_container
  .pricing_container
  p {
  font-size: 15px;
  font-weight: 600;
}
.beforeLoginOuter_container
  .package_data_container
  .description_container
  .profile_description
  p {
  font-size: 12px;
  line-height: 1.3em;
}
.beforeLoginOuter_container .package_data_container .profile_button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: lightcoral;
  transition: all 0.3s ease-in-out;
}
.beforeLoginOuter_container .package_data_container .profile_button:hover {
  background-color: rgb(247, 85, 85);
}
.beforeLoginOuter_container .package_data_container .profile_button:hover {
  cursor: pointer;
}
.beforeLoginOuter_container .package_data_container .profile_button img {
  height: 22px;
}
.beforeLoginOuter_container .package_data_container .profile_button p {
  color: white;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* for testimonial */
.beforeLoginOuter_container .testimonial {
  height: 80vh;
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  text-align: center;
}
.beforeLoginOuter_container .testimonial .testimonial-title {
  font-family: "Sour Gummy", serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 3rem;
  font-weight: bold;
}

/* Testimonial Container */
.beforeLoginOuter_container .testimonial .testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  height: 90%;
}

/* Testimonial Card */
.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card {
  height: 60%;
  border-radius: 35px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  transform: rotate(15deg);
  background-color: lightcoral;
}
.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  top: 10px;
  left: 10px;
  position: absolute;
  transform: rotate(-15deg);
  border-radius: 35px;
}
/* Testimonial Image */
.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card
  .testimonial-image {
  position: relative;
  height: 80px;
  transform: rotate(-15deg);
}
.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card
  .testimonial-image
  img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Testimonial Info */
.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card
  .testimonial-info {
  width: 100%;
  height: clamp(80px, 70%, 250px);
  transform: rotate(-15deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 18px;
}
.testimonial
  .testimonial-container
  .testimonial-card
  .testimonial-info
  .beforeLoginOuter_container
  .testimonial-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  font-family: "Sour Gummy", serif;
}

.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card
  .testimonial-role {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
  font-family: monospace;
}

.beforeLoginOuter_container
  .testimonial
  .testimonial-container
  .testimonial-card
  .testimonial-text {
  font-size: 1.03rem;
  color: #555;
  line-height: 1.5;
}

/* footer */

.beforeLoginOuter_container footer {
  height: 8%;
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.beforeLoginOuter_container footer .footer_image_container {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 7px;
}
.beforeLoginOuter_container footer .footer_image_container img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.beforeLoginOuter_container footer .footer_links {
  height: 92%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  color: white;
  gap: 24px;
}
.beforeLoginOuter_container footer .footer_links p {
  text-wrap: nowrap;
  font-size: 16px;
  color: white;
  transition: all 0.5s ease;
  font-family: monospace;
}
.beforeLoginOuter_container footer .footer_links p:hover {
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid yellow;
  padding: 5px 0px;
  box-shadow: rgba(111, 111, 100, 0.4) 0px 7px 29px 0px;
}
.beforeLoginOuter_container footer .footer_online_platforms {
  display: flex;
  align-items: center;
  gap: 10px;
}
.beforeLoginOuter_container footer .footer_img_container {
  height: 32px;
  width: 32px;
  padding: 4px;
}
.beforeLoginOuter_container footer .footer_img_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}

.beforeLoginOuter_container footer .footer_img_container img:hover {
  cursor: pointer;
}

.beforeLoginOuter_container .back-to-top {
  position: fixed;
  right: 18px;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s;
  opacity: 1;
  z-index: 99;
  background-color: transparent;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.beforeLoginOuter_container .back-to-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.beforeLoginOuter_container .back-to-top:hover {
  background-color: #807d7d;
}

.beforeLoginOuter_container .back-to-top:focus {
  outline: none;
}

/* responsive design  */
@media only screen and (max-width: 1440px) {
  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .main_image {
    top: 90px;
    left: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  /* for home container */
  .beforeLoginOuter_container .home nav img {
    height: 65%;
  }
  .beforeLoginOuter_container .home nav .multiple_links {
    width: 65%;
  }

  .beforeLoginOuter_container .home nav .multiple_links p {
    font-size: 15px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content h1 {
    font-size: 45px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content p {
    font-size: 18px;
  }

  .beforeLoginOuter_container .home main .main_content button {
    padding: 12px 24px;
    font-size: 18px;
  }

  /* for business container */
  .beforeLoginOuter_container .business {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  .beforeLoginOuter_container .business h1 {
    font-size: 2.8rem;
  }

  .beforeLoginOuter_container .business .services_content {
    gap: 3rem;
    height: 60%;
  }

  /* for left container */

  .beforeLoginOuter_container .business .services_content .left_container {
    height: 95%;
    width: 320px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container {
    height: 32%;
    width: 86%;
  }
  .beforeLoginOuter_container .business .services_content .left_container h1 {
    font-size: 30px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content {
    padding: 5px 10px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content
    h1 {
    font-size: 20px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content
    p {
    font-size: 11px;
    font-weight: 600;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .center_container {
    width: 320px;
    height: 95%;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .message_container {
    height: 35px;
    width: 65px;
    left: -12%;
    font-size: 18px;
  }
  .beforeLoginOuter_container .business .services_content .center_container h1 {
    width: 100%;
    top: 85%;
    font-size: 23px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .main_image {
    top: 120px;
    left: 50%;
    height: 416px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .heart_image {
    height: 55px;
    left: 64%;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .right_container {
    width: 320px;
    height: 95%;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex {
    gap: 10px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item {
    width: 130px;
  }

  /* for services  */
  .beforeLoginOuter_container .services .services-container {
    gap: 2.2rem;
  }
  .beforeLoginOuter_container .services .services-container .service-card {
    height: 250px;
    width: 250px;
  }

  /* for testimonial  */
  .beforeLoginOuter_container .testimonial {
    height: 80vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .beforeLoginOuter_container .testimonial .testimonial-title {
    font-size: 2.3rem;
  }
  .beforeLoginOuter_container .testimonial .testimonial-container {
    gap: 5rem;
  }
  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card {
    width: 250px;
  }
  .beforeLoginOuter_container footer .footer_links p {
    font-size: 14px;
  }
  .beforeLoginOuter_container footer .footer_links {
    gap: 18px;
  }
}

@media only screen and (max-width: 768px) {
  /* for home container */
  .beforeLoginOuter_container .home nav img {
    height: 60%;
    width: 5%;
  }
  .beforeLoginOuter_container .home nav .multiple_links {
    width: 75%;
  }

  .beforeLoginOuter_container .home nav .multiple_links p {
    font-size: 14px;
  }
  .beforeLoginOuter_container .home nav .buttons_for_login button {
    padding: 6px 10px;
    font-size: 14px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content h1 {
    font-size: 42px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content p {
    font-size: 17.5px;
  }

  .beforeLoginOuter_container .home main .main_content button {
    padding: 10px 20px;
  }

  /* for business container */
  .beforeLoginOuter_container .business {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
  .beforeLoginOuter_container .business h1 {
    font-size: 2.6rem;
  }

  .beforeLoginOuter_container .business .services_content {
    gap: 2.5rem;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
  }

  /* for left container */

  .beforeLoginOuter_container .business .services_content .left_container {
    height: 50%;
    width: 300px;
    border: 6px solid white;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container {
    height: 32%;
    width: 86%;
  }
  .beforeLoginOuter_container .business .services_content .left_container img {
    height: 30px;
    width: 30px;
  }
  .beforeLoginOuter_container .business .services_content .left_container h1 {
    font-size: 26px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container {
    border: 3px solid white;
    width: 100%;
    padding: 5px 5px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content {
    padding: 5px 5px;
    gap: 0;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content
    h1 {
    font-size: 15px;
    line-height: 1.1em;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content
    p {
    font-size: 11px;
    font-weight: 600;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .center_container {
    width: 300px;
    height: 50%;
    border: 6px solid white;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .message_container {
    height: 32px;
    top: 6%;
    width: 62px;
    left: -10%;
    font-size: 16px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .heart_image {
    height: 50px;
    left: 66%;
    top: 5%;
  }
  .beforeLoginOuter_container .business .services_content .center_container h1 {
    width: 100%;
    top: 80%;
    font-size: 23px;
    z-index: 100;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .main_image {
    top: 84px;
    left: 50%;
    height: 360px;
    z-index: 99;
    width: 300px;
    padding: 15px;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .right_container {
    height: 50%;
    border: 6px solid white;
    width: 320px;
    gap: 12px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex {
    gap: 10px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item {
    width: 130px;
    height: 190px;
  }

  /* for services  */
  .beforeLoginOuter_container .services {
    gap: 45px;
  }
  .beforeLoginOuter_container .services .section-title {
    font-size: 2.5rem;
  }
  .beforeLoginOuter_container .services .services-container {
    gap: 2.2rem;
  }
  .beforeLoginOuter_container .services .services-container .service-card {
    height: 200px;
    width: 200px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .services_image_container {
    height: 100px;
    width: 100px;
    padding: 18px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-title {
    font-size: 1.4rem;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-description {
    font-size: 0.9rem;
  }

  /* for packages  */
  .beforeLoginOuter_container .packages .package-title {
    font-size: 2.3rem;
  }
  .beforeLoginOuter_container .packages .packages-container .package-card {
    width: 730px;
    height: 320px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_data_container
    .profile_container
    .profile_name_location
    h1 {
    font-size: 26px;
  }

  /* for testimonial  */
  .beforeLoginOuter_container .testimonial {
    height: 80vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .beforeLoginOuter_container .testimonial .testimonial-title {
    font-size: 2.2em;
  }
  .beforeLoginOuter_container .testimonial .testimonial-container {
    gap: 5rem;
  }
  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card {
    width: 200px;
  }

  /* for footer  */
  .beforeLoginOuter_container footer .footer_links p {
    font-size: 12px;
  }
  .beforeLoginOuter_container footer .footer_links {
    width: 60%;
    gap: 15px;
  }

  .beforeLoginOuter_container footer .footer_online_platforms {
    gap: 5px;
  }
  .beforeLoginOuter_container footer .footer_img_container {
    height: 30px;
    width: 30px;
    padding: 4px;
  }

  /* for popup overlay */
  .beforeLoginOuter_container .popup {
    height: 370px;
    width: 500px;
  }
  .beforeLoginOuter_container .popup h2 {
    font-size: 18px;
  }
  .beforeLoginOuter_container .close-popup {
    height: 35px;
    width: 35px;
  }
  .beforeLoginOuter_container .option p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 426px) {
  /* for home container */
  .beforeLoginOuter_container .home nav {
    width: 80%;
    justify-content: space-between;
  }
  .beforeLoginOuter_container .home nav img {
    height: 50%;
    width: 9%;
  }
  .beforeLoginOuter_container .home nav .multiple_links {
    display: none;
  }

  .beforeLoginOuter_container .home nav .buttons_for_login button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content h1 {
    font-size: 25px;
    width: 400px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content p {
    font-size: 17.5px;
  }

  .beforeLoginOuter_container .home main .main_content button {
    padding: 10px 14px;
  }
  .beforeLoginOuter_container .home main .main_content button p {
    font-size: 15px;
  }

  /* for business container */
  .beforeLoginOuter_container .business {
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
  .beforeLoginOuter_container .business h1 {
    font-size: 2.2rem;
  }

  .beforeLoginOuter_container .business .services_content {
    gap: 2.5rem;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  /* for left container */

  .beforeLoginOuter_container .business .services_content .left_container {
    height: 32%;
    width: 300px;
    border: 6px solid white;
  }
  .beforeLoginOuter_container .business .services_content .left_container img {
    height: 30px;
    width: 30px;
  }
  .beforeLoginOuter_container .business .services_content .left_container h1 {
    font-size: 24px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container {
    height: 36%;
    width: 84%;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container {
    border: 3px solid white;
    width: 100%;
    padding: 5px 5px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content {
    padding: 5px 5px;
    gap: 0;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content
    h1 {
    font-size: 15px;
    line-height: 1.1em;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .left_container
    .data_container
    .data_content
    p {
    font-size: 11px;
    font-weight: 600;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .center_container {
    width: 300px;
    height: 32%;
    border: 6px solid white;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .message_container {
    height: 32px;
    top: 15%;
    width: 62px;
    left: 5%;
    font-size: 16px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .heart_image {
    height: 50px;
    left: 66%;
    top: 5%;
  }
  .beforeLoginOuter_container .business .services_content .center_container h1 {
    width: 100%;
    top: 80%;
    font-size: 20px;
    z-index: 100;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .main_image {
    top: 105px;
    left: 50%;
    height: 340px;
    z-index: 99;
    width: 300px;
    padding: 55px;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .right_container {
    height: 32%;
    border: 6px solid white;
    width: 320px;
    gap: 12px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex {
    gap: 10px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item {
    width: 130px;
    height: 150px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item
    img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item
    h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #69b7b5;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item
    p {
    font-size: 1rem;
    color: #f3f3f3;
  }

  /* for services  */
  .beforeLoginOuter_container .services {
    gap: 45px;
  }
  .beforeLoginOuter_container .services .section-title {
    font-size: 2.1rem;
  }
  .beforeLoginOuter_container .services .services-container {
    gap: 2.2rem;
  }
  .beforeLoginOuter_container .services .services-container .service-card {
    height: 180px;
    width: 180px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .services_image_container {
    height: 100px;
    width: 100px;
    padding: 20px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-title {
    font-size: 1.1rem;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-description {
    font-size: 0.8rem;
  }

  /* for packages  */
  .beforeLoginOuter_container .packages {
    height: fit-content;
  }
  .beforeLoginOuter_container .packages .package-title {
    font-size: 1.7rem;
  }

  .beforeLoginOuter_container .packages .packages-container {
    gap: 3rem;
  }
  .beforeLoginOuter_container .packages .packages-container .package-card {
    flex-direction: column;
    width: 300px;
    height: 420px;
    gap: 6px;
  }
  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_image_container {
    height: 150px;
    width: 260px;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 10px 0px 0px 0px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_image_container
    .package_speciality {
    font-size: 9px;
    padding: 0px 5px;
    right: -10px;
    top: 14px;
  }
  .beforeLoginOuter_container
    .packages
    .packages-container
    .package_data_container {
    height: 260px;
    width: 100%;
    padding: 10px 12px;
    overflow: hidden;
    align-items: center;
    gap: 16px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_data_container
    .profile_container
    img {
    height: 55px;
    width: 55px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_data_container
    .profile_container
    .profile_name_location
    h1 {
    font-size: 24px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_data_container
    .profile_container
    .profile_name_location
    p {
    font-size: 11px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_data_container
    .description_container
    .pricing_container
    p {
    font-size: 12.5px;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_data_container
    .profile_description
    p {
    font-size: 12px;
  }

  /* for testimonial  */
  .beforeLoginOuter_container .testimonial {
    height: 120vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .beforeLoginOuter_container .testimonial .testimonial-title {
    font-size: 2em;
  }
  .beforeLoginOuter_container .testimonial .testimonial-container {
    gap: 5rem;
  }

  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card {
    width: 200px;
    height: 180px;
  }
  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card
    .testimonial-image
    img {
    width: 60px;
    height: 60px;
  }

  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card
    .testimonial-info
    .testimonial-name {
    font-size: 1.2rem;
  }
  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card
    .testimonial-role {
    font-size: 1rem;
  }
  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card
    .testimonial-text {
    font-size: 0.9rem;
  }

  /* for footer  */

  .beforeLoginOuter_container footer {
    height: 35vh;
    flex-direction: column;
    padding: 10px;
  }
  .beforeLoginOuter_container footer .footer_image_container {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 10px;
  }
  .beforeLoginOuter_container footer .footer_image_container img {
    height: 100%;
    width: 100%;
  }
  .beforeLoginOuter_container footer .footer_links p {
    font-size: 11px;
    font-weight: 700;
  }
  .beforeLoginOuter_container footer .footer_links {
    width: 100%;
    gap: 10px;
  }

  .beforeLoginOuter_container footer .footer_online_platforms {
    gap: 5px;
  }
  .beforeLoginOuter_container footer .footer_img_container {
    height: 30px;
    width: 30px;
    padding: 4px;
  }

  .beforeLoginOuter_container .back-to-top {
    bottom: 10px;
    right: 10px;
  }

  /* for popup overlay */
  .beforeLoginOuter_container .popup {
    height: 380px;
    width: 400px;
  }
  .beforeLoginOuter_container .popup h2 {
    font-size: 15px;
    line-height: 1.6em;
  }
  .beforeLoginOuter_container .popup .close-popup {
    height: 30px;
    width: 30px;
  }
  .beforeLoginOuter_container .popup .options-container .option {
    height: 210px;
    width: 150px;
    padding: 10px 15px;
    gap: 10px;
  }
  .beforeLoginOuter_container .popup .options-container .option p {
    font-size: 12px;
  }
  .beforeLoginOuter_container .popup .options-container .option img {
    height: 100px;
    width: 100px;
  }
}
@media only screen and (max-width: 376px) {
  /* for home container */

  .beforeLoginOuter_container .home main .main_content .text_content h1 {
    font-size: 24px;
    width: 400px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content p {
    font-size: 17px;
  }

  .beforeLoginOuter_container .home main .main_content button {
    padding: 8px 13px;
  }
  .beforeLoginOuter_container .home main .main_content button p {
    font-size: 14px;
  }

  /* for business container */

  .beforeLoginOuter_container .business h1 {
    font-size: 2rem;
  }

  /* for left container */

  .beforeLoginOuter_container .business .services_content .left_container h1 {
    font-size: 23px;
  }

  .beforeLoginOuter_container .business .services_content .center_container h1 {
    font-size: 19px;
  }

  /* for services  */
  .beforeLoginOuter_container .services {
    height: 110vh;
    gap: 35px;
    background-color: #f5f5f5;
    position: relative;
  }

  .beforeLoginOuter_container .services .section-title {
    font-size: 2rem;
  }
  .beforeLoginOuter_container .services .services-container {
    gap: 1.9rem;
  }
  .beforeLoginOuter_container .services .services-container .service-card {
    height: 180px;
    width: 150px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .services_image_container {
    padding: 22px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-title {
    font-size: 1.05rem;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-description {
    font-size: 0.8rem;
  }

  /* for packages  */
  .beforeLoginOuter_container .packages {
    height: fit-content;
  }
  .beforeLoginOuter_container .packages .package-title {
    font-size: 1.6rem;
    text-wrap: nowrap;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_image_container
    .package_speciality {
    height: 28px;
    width: 75px;
    font-size: 14px;
    top: 23px;
  }

  /* for testimonial  */

  /* for footer  */

  .beforeLoginOuter_container footer {
    height: 50vh;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
  }
  .beforeLoginOuter_container footer .footer_image_container {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 10px;
  }
  .beforeLoginOuter_container footer .footer_image_container img {
    height: 100%;
    width: 100%;
  }
  .beforeLoginOuter_container footer .footer_links p {
    font-size: 11px;
    font-weight: 700;
  }
  .beforeLoginOuter_container footer .footer_links {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }

  .beforeLoginOuter_container footer .footer_online_platforms {
    gap: 5px;
  }
  .beforeLoginOuter_container footer .footer_img_container {
    height: 30px;
    width: 30px;
    padding: 4px;
  }

  .beforeLoginOuter_container .popup {
    height: 370px;
    width: 360px;
  }
  .beforeLoginOuter_container .popup h2 {
    font-size: 15px;
    line-height: 1.6em;
  }
  .beforeLoginOuter_container .popup .close-popup {
    height: 30px;
    width: 30px;
    right: 10px;
  }

  .beforeLoginOuter_container .popup .options-container .option {
    height: 200px;
    width: 150px;
    padding: 10px 15px;
    gap: 10px;
  }
  .beforeLoginOuter_container .popup .options-container .option p {
    font-size: 12px;
  }
  .beforeLoginOuter_container .popup .options-container .option img {
    height: 100px;
    width: 100px;
  }

  .beforeLoginOuter_container .popup .next-button {
    font-size: 14px;
  }
  .beforeLoginOuter_container .back-to-top {
    bottom: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 380px) {
  /* for home container */

  .beforeLoginOuter_container .home nav img {
    height: 48%;
    width: 15%;
  }
  .beforeLoginOuter_container .home nav .buttons_for_login button {
    padding: 6px 9px;
    font-size: 10px;
  }
  .beforeLoginOuter_container .home main .main_content .text_content h1 {
    font-size: 21px;
    width: 320px;
  }

  .beforeLoginOuter_container .home main .main_content .text_content p {
    font-size: 15px;
  }

  .beforeLoginOuter_container .home main .main_content button {
    padding: 7px 12px;
  }
  .beforeLoginOuter_container .home main .main_content button p {
    font-size: 13px;
  }

  /* for business container */

  .beforeLoginOuter_container .business h1 {
    font-size: 2rem;
  }

  /* for left container */

  .beforeLoginOuter_container .business .services_content .left_container h1 {
    font-size: 23px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .center_container
    .heart_image {
    height: 50px;
    left: 63%;
    top: 5%;
  }
  .beforeLoginOuter_container .business .services_content .center_container h1 {
    font-size: 19px;
  }

  /* for center container */
  .beforeLoginOuter_container .business .services_content .right_container {
    height: 32%;
    border: 6px solid white;
    width: 320px;
    gap: 12px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .showcase_title {
    font-size: 1.5rem;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex {
    gap: 8px;
  }

  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item {
    width: 122px;
    height: 150px;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item
    img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item
    h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #69b7b5;
  }
  .beforeLoginOuter_container
    .business
    .services_content
    .right_container
    .stats_flex
    .stat_item
    p {
    font-size: 1rem;
    color: #f3f3f3;
  }

  /* for services  */

  .beforeLoginOuter_container .services .section-title {
    font-size: 1.8rem;
  }
  .beforeLoginOuter_container .services .services-container {
    gap: 1.4rem;
  }
  .beforeLoginOuter_container .services .services-container .service-card {
    height: 180px;
    width: 140px;
    line-height: 1em;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .services_image_container {
    height: 90px;
    width: 90px;
    padding: 20px;
    margin-bottom: -10px;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-title {
    font-size: 0.7rem;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .beforeLoginOuter_container
    .services
    .services-container
    .service-card
    .service-description {
    font-size: 0.6rem;
    line-height: 1.1em;
    margin-top: 0;
  }

  /* for packages  */
  .beforeLoginOuter_container .packages {
    height: fit-content;
  }
  .beforeLoginOuter_container .packages .package-title {
    font-size: 1.4rem;
    line-height: 1.5em;
    text-wrap: wrap;
  }

  .beforeLoginOuter_container
    .packages
    .packages-container
    .package-card
    .package_image_container
    .package_speciality {
    height: 28px;
    width: 72px;
    font-size: 13px;
    top: 23px;
  }

  /* for testimonial  */
  .beforeLoginOuter_container .testimonial {
    height: 130vh;
  }
  .beforeLoginOuter_container .testimonial .testimonial-title {
    font-size: 1.5em;
  }
  .beforeLoginOuter_container .testimonial .testimonial-container {
    gap: 2.5rem;
  }

  .beforeLoginOuter_container
    .testimonial
    .testimonial-container
    .testimonial-card {
    height: 225px;
    border-radius: 35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    transform: rotate(15deg);
    background-color: lightcoral;
  }
  .beforeLoginOuter_container .back-to-top {
    bottom: 20px;
    right: 10px;
    height: 30px;
    width: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .beforeLoginOuter_container .popup {
    width: 300px;
  }
}
