
  .chart-container_round {
    height: 550px;
    width:360px;  
    min-width:340px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--admin_box_shadow);
      transition: box-shadow 0.3s ease;
    position: relative;
    padding-top: 60px;
  }

    /* Add hover effect to chart box */
    .chart-container_round:hover {
      box-shadow: var(--admin_box_shadow_hover);
    }
  .chart-container_round .chart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Slightly smaller width */
    min-width: 100%;
    padding: 25px;
    height: 550px;

  }

  .chart-container_round  .title_name{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: var(--admin_title_padding);
    font-size: var(--admin_title_font_size);
    font-weight: var(--admin_title_font_weight);
  }

  .chart-container_round .loading_con {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
   
  }


 
  
  
  @keyframes spin_s {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  
  /* Style for the chart itself */
  .chart-container_round .chart {
    width: 100%;
    height: 250px;
    /* margin-bottom: 25px; */
    border-radius: 15px;  /* Rounded chart corners */
    padding: 10px;
    /* background: rebeccapurple; */
  }
  
  /* Data box below the chart */
  .chart-container_round .data-box {
    width: 100%;
    padding: 5px;
    background-color: #f4f7fc; /* Light gray background for data box */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.05rem;
    color: #333;
    margin-bottom: 10px;
  }

  .chart-container_round .data-box .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .chart-container_round .data-box .item:last-child{
    margin-top: 1px;
    border-top: 1px solid #ccc;
  }
  
  /* Style for each data entry in the data box */
  .chart-container_round .data-box p {
    font-size: 0.95rem;
    margin: 8px 0;
    line-height: 1.5;
  }
  
  .chart-container_round .data-box p strong {
    font-weight: bold;
    color: #5f6bc4;  /* Accent color for strong text */
  }
  
  /* Add a hover effect for the data box as well */
  .chart-container_round .data-box:hover {
    background-color: #eef2fb; /* Light color change on hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  