
.user_table_date{
    height: fit-content;
    background: white;
    padding: 20px;
    border-radius: var(--admin_box_radius);
    width: 600px;
    /* margin-top: -70px; */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  /* Add hover effect to chart box */
  .user_table_date:hover {
    transform: scale(1.03); /* Slight zoom-in effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }


.user_table_date .title_bar_sub{
    display: flex;
    justify-content: space-between;
}
.user_table_date .title_bar_sub img{
    height: 30px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background: rgba(212, 212, 212, 0.421);
    }
}
.user_table_date .title_hr{
    
    height: 1px;
    width: 100%;
    background: rgb(0, 0, 0);
 }
 

.user_table_date table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  .user_table_date  table th,
  .user_table_date  table td {
    border: 1px solid transparent;
    padding: 10px;
    text-align: left;
  }
  
  .user_table_date  table thead th {
    font-weight: bold;
    color: #333;
  }
  .user_table_date  table thead tr {
    height:60px;
  }
  .user_table_date  table tbody tr {
    height:100px;
    /* background: rebeccapurple; */
    border-radius: 20px;
  }
  .user_table_date  table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  

  .user_table_date  .profile_con {
    display: flex;
    align-items: center;
  }
  
  .user_table_date  .profile {
    margin-right: 20px;
  }
  
  .user_table_date  .profile img {
    width: 40px; /* Profile image size */
    height: 40px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    border: 1px solid #ccc;
  }
  
  .user_table_date  .data .title {
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
  }
  
  .user_table_date  .data .type {
    font-size: 0.9em;
    color: #666;
  }

  .user_table_date tbody tr td .set_type{
    padding: 5px 8px;
    background: rebeccapurple;
    width: fit-content;
    border-radius: 15px;
  }
  .user_table_date tbody tr td .set_type.status-available{
    background: #dffff3;
    color: #5cd7ae;
    border: 1px solid #5cd7ae;
  }
  .user_table_date tbody tr td .set_type.status-on-holiday{

    background:  #e4f2fb;
    color: #319be1;
    border: 1px solid #319be1;
  }
  .user_table_date tbody tr td .set_type.status-absent{
    background: #ffede9;
    color: #faa691;
    border: 1px solid #faa691;
  }
  .user_table_date tbody tr td .set_type.status-on-leave{
    background: #fef6eb;
    color: #fcc982;
    border: 1px solid #fcc982;
  }


