:root{
    
    --admin_box_shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.welcome_message_con{
    min-height: 150px;
    height: 150px;
    min-height: 500px;
    height: 500px;
    width: 400px;
    border-radius: var(--admin_box_radius);
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
    /* padding:15px; */
    gap: 0px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow:var(--admin_box_shadow) ;
    background: var(--admin_ui_coloer);
    /* background: rebeccapurple; */
    /* padding-top: 20px; */
    
  }

  .welcome_message_con h2{
    position: sticky;
    top: 0px;
    left: 18px;
    background: white;
    /* background: rebeccapurple; */
    /* height: 40px; */
    width: 100%;
    padding: 15px;
  }

  .welcome_message_con::-webkit-scrollbar{
    width: 5px;
    background: transparent;
  }

  .welcome_message_con::-webkit-scrollbar-thumb{
    background: rgba(68, 68, 68, 0.538);
  }

  

