.forgetPassword_con {
  position: absolute;
  height: fit-content;
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding-bottom: 20px;
}
.forgetPassword_con img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}
.forgetPassword_con h2 {
  text-align: center;
}
.forgetPassword_con p {
  text-align: center;
  font-size: 16px;
}
.forgetPassword_con form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.forgetPassword_con form .forget_button {
  border: none;
  background-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 10px;
}
.forgetPassword_con form button:hover {
  cursor: pointer;
}
