.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff56;
  z-index: 99;
  /* transition: all 1s ease; */
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  70% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.forgetPassword_con {
  position: absolute;
  height: fit-content;
  width: 380px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 20px 10px;
  box-shadow: rgba(131, 131, 143, 0.527) 0px 7px 29px 0px;
  animation: popIn 0.4s ease-out;
}
@keyframes popIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  70% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.forgetPassword_con .first_form .closeImage {
  position: absolute;
  top: 10px;
  right: 12px;
  height: 20px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}

.forgetPassword_con .second_form img {
  height: 95%;
  width: 50%;
  object-fit: cover;
}
.forgetPassword_con .second_form .closeImage {
  position: absolute;
  top: 10px;
  right: 12px;
  height: 20px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}
.forgetPassword_con .second_form .backImage {
  position: absolute;
  top: 10px;
  left: 12px;
  height: 28px;
  width: 28px;
  &:hover {
    cursor: pointer;
  }
}

.forgetPassword_con h2 {
  text-align: center;
}
.forgetPassword_con p {
  text-align: center;
  font-size: 16px;
}
.forgetPassword_con form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.forgetPassword_con form .forget_button {
  border: none;
  background-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: lightblue;
}
.forgetPassword_con form button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .forgetPassword_con {
    width: 45%;
    padding: 15px 8px;
  }

  .forgetPassword_con h2 {
    font-size: 18px;
  }

  .forgetPassword_con p {
    font-size: 14px;
  }

  .forgetPassword_con form .forget_button {
    font-size: 14px;
    padding: 10px 12px;
  }

  .forgetPassword_con .closeImage,
  .forgetPassword_con .backImage {
    height: 18px;
    width: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .forgetPassword_con {
    width: 95%;
    padding: 10px 5px;
  }

  .forgetPassword_con h2 {
    font-size: 16px;
  }

  .forgetPassword_con p {
    font-size: 12px;
  }

  .forgetPassword_con form {
    gap: 30px;
  }

  .forgetPassword_con form .forget_button {
    padding: 8px 14px;
    font-size: 12px;
  }

  .forgetPassword_con .closeImage,
  .forgetPassword_con .backImage {
    height: 14px;
    width: 14px;
  }
}
@media only screen and (max-width: 430px) {
  .forgetPassword_con {
    width: 90%;
    padding: 10px 5px;
  }

  .forgetPassword_con h2 {
    font-size: 16px;
  }

  .forgetPassword_con p {
    font-size: 12px;
  }

  .forgetPassword_con form {
    gap: 30px;
  }

  .forgetPassword_con form .forget_button {
    padding: 8px 14px;
    font-size: 12px;
  }

  .forgetPassword_con .closeImage,
  .forgetPassword_con .backImage {
    height: 14px;
    width: 14px;
  }
}
@media only screen and (max-width: 330px) {
  .forgetPassword_con {
    width: 95%;
    padding: 10px 20px;
  }

  .forgetPassword_con h2 {
    font-size: 12px;
  }

  .forgetPassword_con p {
    font-size: 12px;
  }

  .forgetPassword_con form {
    gap: 30px;
  }

  .forgetPassword_con form .forget_button {
    padding: 8px 14px;
    font-size: 12px;
  }

  .forgetPassword_con .closeImage,
  .forgetPassword_con .backImage {
    height: 14px;
    width: 14px;
  }
  .Login_register_input_group input[type="text"] {
    font-size: 1.1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    width: 280px;
    border-bottom: 1px solid #757575;
    background: transparent;
  }
}
